@use '/src/sass/base/variables.scss' as *;

.about {
	padding-top: 186px;
	padding-bottom: 199px;
	&__wrapper {
		width: 702px;
		margin-left: 680px;
		display: flex;
		flex-direction: column;
		gap: 46px;
		align-items: start;
	}
	&__text {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
	&__benefits {
		display: flex;
		gap: 30px;
		&-column {
			flex-direction: column;
		}
		&-row {
			flex-direction: row;
		}
	}
	&__item {
		display: flex;
		gap: 19px;
		&-img {
			background-color: white;
			padding: 26px;
			border-radius: 25px;
		}
		&-p {
			width: 444px;
		}
	}
	&__btn {
		display: flex;
		flex-direction: row;
	}
}

.about-orange {
	background: $white url('/src/img/citrus_bckg.png') left center / 1000px
		no-repeat;
}

.about-avocado {
	background: white url('/src/img/about/image@2x.png') left center / 1000px
		no-repeat;
}
