@use '/src/sass/base/variables.scss' as *;

.news {
	padding-top: 177px;
	&__header {
		display: flex;
		align-items: end;
		justify-content: space-between;
	}
	&__title {
		width: 700px;
	}
	&__btn {
		display: flex;
		flex-direction: row;
	}
	&__blog {
		margin-top: 45px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		column-gap: 46px;
		row-gap: 100px;
		&-item {
			width: 665px;
			padding: 42px 32px;
			border-radius: 30px;
			background: url('/src/img/news__bckg.png');
		}
		&-tag {
			background-color: white;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			padding: 15px 23px;
			border-radius: 100%;
			width: 82px;
			height: 82px;
		}
		&-info {
			transform: translateY(108px);
			box-shadow: 0 20px 35px 0 rgba(167, 167, 167, 0.25);
			background-color: white;
			border-radius: 30px;
			padding: 46px 50px;
		}
		&-title {
			margin-top: 15px;
		}
		&-btn {
			margin-top: 15px;
			display: flex;
			flex-direction: row;
		}
	}
}
