.promo {
	background:
		url('/src/img/main_bckg_decor.png') center center / cover no-repeat,
		url('/src/img/main_bckg.png') center center / cover no-repeat;
	height: 898px;
  padding: 247px 0 0 100px;
  &__wrapper {
    width: 530px;
  }
  &__btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 23px;
    img {
      margin-top: 4px;
    }
  }
}
