@use '/src/sass/base/variables.scss' as *;

.review {
	padding-top: 164px;
	padding-bottom: 164px;
	background:
		url('/src/img/review_left.png') left center / contain no-repeat,
		url('/src/img/review_right.png') right center / contain no-repeat;
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__slide {
		display: block;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		margin-top: 60px;
		width: 780px;
		&-img {
			border-radius: 100%;
		}
	}
	&__divider {
		margin-top: 102px;
		width: 1108px;
	}
	&__benefits {
		margin-top: 102px;
		display: flex;
		gap: 62px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 2px solid $green;
		border-radius: 100%;
		width: 211px;
		height: 211px;
		&-wrap {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background: #f1f1f1;
			width: 189px;
			height: 189px;
			border-radius: inherit;
		}
	}
}
