@use '/src/sass/base/variables.scss' as *;
@use '/src/sass/base/mixins.scss' as *;

.button {
	@include button;
	color: $white;
	background: #274c5b;
	transition: 0.2s all;
	&:hover {
		background: #3b5f73;
	}
}

.button-yellow {
	@include button;
	color: $blue;
	background: #efd372;
	transition: 0.2s all;
	&:hover {
		background: #ffe68d;
	}
}

.button-transparent {
	@include button;
	color: $blue;
	border: 2px solid #274c5b;
	background: transparent;
	transition: 0.2s all;
	&:hover {
		color: $white;
		background: #274c5b;
	}
}
